In [1]:
# Linear Algebra and 
import numpy as np

# Database
import pandas as pd

# visualization
import matplotlib.pyplot as plt

# getting data
import requests
from pandas_datareader import wb

# Web application
# pip install streamlit
import streamlit as st

In [2]:
undernourishment="SN.ITK.DEFC.ZS"

In [3]:
year = "2014"
df1=wb.download(indicator=undernourishment, country="all", start=year,end=year).reset_index()
df1 = df1.drop("year", axis =1).rename(columns = {undernourishment:year})

In [4]:
year = "2015"
df2=wb.download(indicator=undernourishment, country="all", start=year,end=year).reset_index()
df2 = df2.drop("year", axis =1).rename(columns = {undernourishment:year})

In [5]:
year = "2016"
df3=wb.download(indicator=undernourishment, country="all", start=year,end=year).reset_index()
df3 = df3.drop("year", axis =1).rename(columns = {undernourishment:year})

In [6]:
year = "2017"
df4=wb.download(indicator=undernourishment, country="all", start=year,end=year).reset_index()
df4 = df4.drop("year", axis =1).rename(columns = {undernourishment:year})

In [7]:
year = "2018"
df5=wb.download(indicator=undernourishment, country="all", start=year,end=year).reset_index()
df5 = df5.drop("year", axis =1).rename(columns = {undernourishment:year})

In [8]:
year = "2019"
df6=wb.download(indicator=undernourishment, country="all", start=year,end=year).reset_index()
df6 = df6.drop("year", axis =1).rename(columns = {undernourishment:year})

In [16]:
poverty=df1.merge(df2).merge(df3).merge(df4).merge(df5).merge(df6).set_index("country")

In [17]:
poverty

,2014,2015,2016,2017,2018,2019
country,,,,,,
Africa Eastern and Southern,23.221891,22.824360,22.967845,23.294809,23.405499,24.524080
Africa Western and Central,11.919088,11.690688,11.738176,12.005043,12.420730,14.632074
Arab World,13.074471,13.162275,13.518543,13.671326,13.607920,14.007926
Caribbean small states,7.927996,8.030311,7.860246,7.590156,6.992515,6.955463
Central Europe and the Baltics,2.709416,2.741155,2.739587,2.647207,2.605544,2.613958
...,...,...,...,...,...,...
Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN
West Bank and Gaza,NaN,NaN,NaN,NaN,NaN,NaN
"Yemen, Rep.",38.600000,43.400000,46.100000,46.600000,45.400000,45.400000
Zambia,NaN,NaN,NaN,NaN,NaN,NaN
Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN